version: "3.9"

services:
  outline:
    build:
      context: .
      dockerfile: Dockerfile
    
    # Дополнительные хосты нужны только в специфичном окружении
    extra_hosts:
      - "redis.tusur.ru:${TUSUR_REDIS_IP}"